## Settings file was created by plugin SpeechRecognitionAPI v1.0.0
## Plugin GUID: JS03.SpeechRecognitionAPI

[General]

## Language to be used for speech recognition
# Setting type: Languages
# Default value: English
# Acceptable values: English, Spanish
Language = English

## Shows the speech recognition output
# Setting type: Boolean
# Default value: true
Log recognized speech = true

